/* GENERAL SETTINGS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, p, strong, span, a, i, ul, ol{
    font-family: 'Open Sans', sans-serif;
}

.flex{
    display: flex;
}

.container{
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;  
}

/* NAVBAR */
header{
    background-color: #404EED;
    padding: 20px 20px;
}

.navbar{
    color: white;
    align-items: center;
    justify-content: space-between;
}

.navbar img{
    width: 10%;
}

.navbar h2{
    font-size: 20px;
    align-self: center;
}

.logo{
    gap: 10px;
}

.btn {
    align-items: center;
}

.btn i{
    font-size: 30px;
}

/* MAIN */

main{
    background-color: #404EED;
}

.hero-title{
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.7rem;
    padding: 50px 20px 10px 20px ;
}

.hero-text{
    padding: 0px 20px;
    line-height: 1.625;
    color: white;
    font-family: inherit;
}

.hero-download{
    padding: 40px 20px;
    font-weight: 500;
}

.hero-download i{
    margin-right: 8px;
}

.hero-download a{
    background-color: white;
    padding: 15px 40px;
    color: black;
    text-decoration: none;
    border-radius: 40px;
}

.hero-image{
    position: relative;
    padding-top: 15px;
}

.hero-image img{
    width: 100%;
    position: relative;
    display: block;
    left: -70px;
}




